.slidev-code .line.dishonored {
  filter: grayscale(100%);
  opacity: 0.5;
}

/* .slidev-code .line.highlighted {
  background: rgba(0,0,0,100%);
} */

.select-none {
  user-select: unset !important;
}